.float_container {
    border: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
  }
  
  .headerWrapper {
    float: left;
    height: 10%;
    width: 100%;
    top: 0px;
    margin-bottom: 20px;
    left: 0px;
    background-color: blue;
  }
  
  .footerWrapper {
    float: left;
    height: 6%;
    width: 100%;
    bottom: 0px;
    left: 0px;
    background-color: blue;
  }
  
  .reportsPageComponentWrapper {
    float: middle;
    height: 94%;
    vertical-align: middle;
    align-items: center;
  }