.float_container {
  border: 0px;
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 100vh;
}

.headerWrapper {
  float: left;
  width: 100%;
  height: auto;
}

.footerWrapper {
  float: left;
  height: 8%;
  width: 100%;
  bottom: 0px;
  left: 0px;
}

.studentSelectComponentWrapper {
  float: left;
  height: 21%;
  width: 40%;
  left: 0px;
  top: 0px;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.studentInfoComponentWrapper {
  float: left;
  height: 28%;
  width: 40%;
  left: 0px;
  top: 0px;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.additionalNotesComponentWrapper {
  float: left;
  height: 33%;
  width: 40%;
  left: 0px;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.uniformListComponentWrapper {
  float: left;
  height: 82%;
  width: 60%;
  right: 0px;
  float: right;
}
