.float_container {
  border: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
}

.headerWrapper {
  float: left;
  height: 10%;
  width: 100%;
  top: 0px;
  left: 0px;
}

.footerWrapper {
  float: left;
  height: 6%;
  width: 100%;
  bottom: 0px;
  left: 0px;
}

.studentSelectComponentWrapper {
  float: left;
  height: 21%;
  width: 40%;
  left: 0px;
  top: 0px;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.studentInfoComponentWrapper {
  float: left;
  height: 28%;
  width: 40%;
  left: 0px;
  top: 0px;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.additionalNotesComponentWrapper {
  float: left;
  height: 35%;
  width: 40%;
  left: 0px;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.pieceSelectComponentWraper {
  float: left;
  height: 18%;
  width: 60%;
  right: 0px;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.uniformListComponentWrapper {
  height: 60%;
  width: 60%;
  right: 0px;
  float: right;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.buttonsWrapper {
  float: left;
  height: 6%;
  width: 60%;
  right: 0px;
  float: right;
  vertical-align: center;
  display: flex;
  align-items: center;
}
