.nav_link {
  display: inline;
  margin: 20px;
}

.link_box {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.bar_style {
  background-color: #0000e0;
}

.buttonsStyle {
  background-color: #efc500;
  color: #0000e0;
  font-weight: 600;
}

.buttonsStyle:hover {
  background-color: #efc500;
  opacity: 0.8;
  font-weight: 600;
}
