.nav_link {
  display: inline;
  margin: 20px;
}

.link_box {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.button_style {
  background-color: white;
  color: black;
  font-weight: 600;
}

.bar_style {
  background-color: blue;
}
