.wrapperComponent {
  height: auto;
  width: 100%;
  border: 1px solid black;
  background-color: #f0f0f0;
  max-width: 450px;
  margin: 8px auto;
  
}

.wrapperHeader {
  display: flex;
  background-color: blue;
  border-bottom: 1px solid black;
  
}


