.wrapperComponent {
  height: auto;
  width: 100%;
  border: 1px solid black;
  background-color: #f0f0f0;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.wrapperHeader {
  height: auto;
  width: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
  display: flex;
  background-color: #0000e0;
  border-bottom: 1px solid black;
}

.wrapperSelectSection {
  height: auto;
  width: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.headerWrapper {
  float: left;
  height: 10%;
  width: 100%;
  top: 0px;
  margin-bottom: 20px;
  left: 0px;
  background-color: #0000e0;
}

.addButton {
  background-color: #efc500;
  color: #0000e0;
}

.addButton:hover {
  background-color: #efc500;
  opacity: 0.8;
}
