.wrapperComponent {
    height: 90vh;
    width: 40vw;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

.wrapperHeader {
    height: auto;
    width: 100%;
    max-width: 1290px;
    margin: 0px;
    display: flex;
    border: 1px solid blue;
    background-color: blue;
    border-bottom: 1px solid black;
  }

  .boxLimits{
    height: 70%;
    width: 100%;
    border: 1px solid black;
    background-color: #f0f0f0;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }